body{
    margin: 0;
}

.main{
    width: 100vw;
    height: 100vh;
    background: rgb(44, 0, 44);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left h1{
    color: rgb(198, 142, 234);
}

.right{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    border-radius: 20px;
    background: rgb(58, 4, 58);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.337);
}

.card h1{
    color: rgb(198, 142, 234);
}