@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body{
    margin: 0;
    font-family: 'Noto sans';
}

.main{
    width: 100vw;
    height: 100vh;
    background: rgb(44, 0, 44);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left h1{
    font-size: 3vw;
    color: rgb(198, 142, 234);
}

.left-image{
    width: 35vw;
}

.right{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    border-radius: 20px;
    background: rgb(58, 4, 58);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.337);
}

.card h1{
    color: rgb(198, 142, 234);
    font-weight: 800;
    margin: 0;
}

.textfield{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
    width: 100%;
}

.textfield input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: rgba(112, 5, 116, 0.337);
    color: #fff;
    font-size: 12pt;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.337);
    outline: none;
    box-sizing: border-box;
}

.textfield label{
    color: #fff;
    margin-bottom: 10px;
    font-size: 19px;
}

.textfield input::placeholder{
    color: #f0ffff94;
}

.btn-login{
    width: 100%;
    padding: 13px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: ;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.337);
}

@media only screen and (max-width: 950px){
    .card{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .main{
        flex-direction: column;
    }
    .left h1{
        display: none;
    }
    
}